---
layout: layouts/invitation.njk
pagination:
  data: collections.invitationPages
  size: 1
  alias: invite
permalink: "{{ invite.path }}"
eleventyComputed:
  title: "{% if invite.couple %}{{ invite.couple.name1 }} & {{ invite.couple.name2 }}{% else %}{{ invite.honoree.name }}{% endif %}"
  description: "{{ invite.message }}"
---
